<%- include('../components/body.html')%>
    <div class="flex">
      <!-- sidebar -->

      <%- include('../components/sidebar.html') %>
      <!-- end of sidebar -->

     
      <!-- header -->
       <!-- top border of header  -->
       <div
       class="border-solid border-b-2 z-[-1] absolute w-full top-[80px]"
       ></div>
      <!-- end of top border -->
      
      <div class="lg:ml-[25rem] w-full lg:mx-20 mx-5 flex flex-col gap-10">
        <%- include('../components/header.html')%>
      <!-- end of header -->
        <!-- border after header -->
        <!--  main -->
        
        <div class="w-full">
            <h1 class="text-4xl">User Info</h1>
            <form action="#" onsubmit="`<%if(!edit){%>${postUser(event)}<%}else{%>${editUserById(event,'<%=data.id%>')}<%}%>`">
              <div class="border-2 rounded border-[#DBDFEA] mt-3 p-5">
                <div class=" my-2">
                  <label for="name" class="leading-5">Login</label>
                  <input
                    type="text"
                    class="leading-5 p-2 my-1 w-full rounded border-[#DBDFEA] border-2 text-black"
                    id="login"
                    value="<% if(edit){%><%=data.login%><%}%>"
                  placeholder="Login"
                  />
                  <!-- validation id must be titleValidation because api validation param like this -->
                  <p id="loginValidation" class="text-[red]"></p>
                </div>




                <div class=" my-2">
                  <label for="name" class="leading-5">Password</label>
                  <input
                    type="text"
                    class="leading-5 p-2 my-1 w-full rounded border-[#DBDFEA] border-2 text-black"
                    id="password"
                    value="<% if(edit){%><%=data.password%><%}%>"
                  placeholder="Password"
                  />
                  <!-- validation id must be titleValidation because api validation param like this -->
                  <p id="passwordValidation" class="text-[red]"></p>
                </div>




                <div class=" my-2">
                  <label for="name" class="leading-5">Full Name</label>
                  <input
                    type="text"
                    class="leading-5 p-2 my-1 w-full rounded border-[#DBDFEA] border-2 text-black"
                    id="fullName"
                    value="<% if(edit){%><%=data.fullName%><%}%>"
                  placeholder="Full name"
                  />
                  <!-- validation id must be titleValidation because api validation param like this -->
                  <p id="fullNameValidation" class="text-[red]"></p>
                </div>


                <div>
                    <label
                      for="role"
                      class="block mb-2 text-sm font-medium text-gray-900 "
                      >Select Role</label
                    >
                    <select
                      id="role"
                      class="bg-gray-50 border  border-[#DBDFEA]  text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                      
                      >
                      <%if(!edit)%>
                      <option value="" selected>Choose a role</option>
                      <option value="admin"  <% if(edit && data.role=='admin' ){ %> selected <%}%>  >admin</option>                    
                    </select>
                    <p id="roleValidation" class="text-[red]"></p>
                  </div>
                


                <div class="flex justify-end gap-3">
                  <a
                  href="/admin/users"
                  class="text-[#445FD3] mt-5 border-[#445FD3] border-2  px-5 py-1 text-[20px] rounded"
                  >
                  Close
                </a>
                  <button
                  id="submit"
                  type="submit"
                  class="bg-[#445FD3] mt-5 text-white px-5 py-1 text-[20px] rounded"
                  >
                  Save
                </button>
              
            </div>
              </div>
            </form>
          </div>
      </div>

      </div>
    </div>
    <!-- loading  -->
         <div
         id="loading"
         class="hidden fixed w-full h-full bg-[#303030a8] left-0 top-0 flex justify-center items-center"
       >
           <div
             class="inline-block h-12 w-12 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
             role="status">
             <span
               class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
               >Loading...</span
             >
           </div>
   
         </div>
  </body>


  <script>
   

  </script>

  <!-- <script src="/assets/ckeditor4/ckeditor.js"></script> -->
 

  <script src="/assets/js/fetch.js"></script>
  <%-include('../components/end_body.html')%>
