<%- include('../components/body.html')%>
  <div class="flex">
    <!-- sidebar -->

    <%- include('../components/sidebar.html') %>
      <!-- end of sidebar -->


      <!-- header -->
      <!-- top border of header  -->
      <div class="border-solid border-b-2 z-[-1] absolute w-full top-[80px]"></div>
      <!-- end of top border -->

      <div class="lg:left-80 lg:absolute lg:mx-20 mx-5 flex flex-col">
        <%- include('../components/header.html')%>
          <!-- end of header -->
          <!-- border after header -->
          <!--  main -->

          <div>
            <div class="my-10 w-full flex flex-wrap gap-4 lg:gap-10">
              <!-- 1 -->
              <div class="w-[100%] lg:w-[calc(50%-1.25rem)] border-solid border-[#DBDFEA] border-2 rounded-[5px]">
                <a href="/admin/category">
                  <div class="flex lg:flex-col vsm:flex-row justify-center flex-col 2lg:flex-row items-center">
                    <div class="vsm:w-[30%] w-[60%] lg:w-[60%] 2lg:w-[30%] m-3">
                      <img class="w-full" src="/assets/images/categories.png" alt="" />
                    </div>
                    <div class="vsm:w-[70%] w-[90%] m-5">
                      <h3 data-key="Category" class="text-[#445FD3] text-[22px] 2xl:text-[28px] font-500">
                        Category
                      </h3>
                      <p data-key="Categories are division of restaurant foods. Here you can manage them."
                        class="text-[13px] 2xl:text-[15px]">

                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <!-- end of 1 -->
              <!-- 1 -->

              <div class="w-[100%] lg:w-[calc(50%-1.25rem)] border-solid border-[#DBDFEA] border-2 rounded-[5px]">
                <a href="/admin/foods">
                  <div class="flex lg:flex-col vsm:flex-row justify-center flex-col 2lg:flex-row items-center">
                    <div class="vsm:w-[30%] w-[60%] lg:w-[60%] 2lg:w-[30%] m-3">
                      <img class="w-full" src="/assets/images/bibimbap.png" alt="" />
                    </div>
                    <div class="vsm:w-[70%] w-[90%] m-5">
                      <h3 data-key="Foods" class="text-[#445FD3] text-[22px] 2xl:text-[28px] font-500">
                        Foods
                      </h3>
                      <p data-key="Foods are main products of restaurant and each food has own categories."
                        class="text-[13px] 2xl:text-[15px]">

                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <!-- end of 1 -->
              <!-- 1 -->
              <div class="w-[100%] lg:w-[calc(50%-1.25rem)] border-solid border-[#DBDFEA] border-2 rounded-[5px]">
                <a href="/admin/orders">
                  <div class="flex lg:flex-col vsm:flex-row justify-center flex-col 2lg:flex-row items-center">
                    <div class="vsm:w-[30%] w-[60%] lg:w-[60%] 2lg:w-[30%] m-3">
                      <img class="w-full" src="/assets/images/cargo.png" alt="" />
                    </div>
                    <div class="vsm:w-[70%] w-[90%] m-5">
                      <h3 data-key="Orders" class="text-[#445FD3] text-[22px] 2xl:text-[28px] font-500">
                        Orders
                      </h3>
                      <p data-key="When it comes to ordering food, it's like stepping into a doorway that leads to a world of culinary delights. It's an experience that tantalizes your taste buds, stirs your senses, and satisfies both hunger and cravings." class="text-[13px] 2xl:text-[15px]">

                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <!-- end of 1 -->
              <!-- 1 -->

<!--              <div class="w-[100%] lg:w-[calc(50%-1.25rem)] border-solid border-[#DBDFEA] border-2 rounded-[5px] flex justify-center " style="text-align: -webkit-center;">
               
                <div class="flex lg:flex-col vsm:flex-row justify-center flex-col 2lg:flex-row items-center">
                  <div data-key="Total Orders" class="vsm:w-[30%] w-[60%] lg:w-[60%] 2lg:w-[30%] m-3">
                    Total Orders
                  </div>
                  <div class="vsm:w-[70%] w-[90%] m-5">
                    <h3   class="text-[#445FD3] text-[22px] 2xl:text-[28px] font-500">
                      <%=data.totalOrders%>
                    </h3>
                  </div>
                </div> 
                <div class="flex lg:flex-col vsm:flex-row justify-center flex-col 2lg:flex-row items-center">
                  <div data-key="Total Foods"  class="vsm:w-[30%] w-[60%] lg:w-[60%] 2lg:w-[30%] m-3">
                    Total Foods
                  </div>
                  <div class="vsm:w-[70%] w-[90%] m-5">
                    <h3   class="text-[#445FD3] text-[22px] 2xl:text-[28px] font-500">
                      <%=data.deliveryCharge%>
                    </h3>
                  </div>
                </div> 
            </div>


              <!-- end of 1 -->
            </div>
          </div>
      </div>
  </div>
  </body>
  <%-include('../components/end_body.html')%>
