<style>
.slist tr.hint {
  border: 1px solid #a5a8ff;
  background: #ffb4b4;
}
.slist tr.active {
  border: 1px solid #a5a8ff;
  background: #ffb4b4;
}
</style>
<%- include('../components/body.html')%>
  <div class="flex">
    <!-- sidebar -->

    <%- include('../components/sidebar.html') %>
      <!-- end of sidebar -->


      <!-- header -->
      <!-- top border of header  -->
      <div class="border-solid border-b-2 z-[-1] absolute w-full top-[80px]"></div>
      <!-- end of top border -->

      <div class="lg:ml-[25rem] w-full lg:mx-20 mx-0 flex flex-col gap-5">
        <%- include('../components/header.html')%>
          <div class="w-[95%] m-auto md:w-full">
            <div class="flex flex-row justify-between items-center">
              <div class="flex justify-start">
                <h1 class="text-[30px]" data-key="Foods">Foods</h1>

              </div>

              <a href="/admin/add-food" class="p-2 border-solid border-2 text-[#445FD3]"
                data-key="Add Food"><span>+</span> Add food</a>
            </div>
          </div>
          <hr />

    <!-- loading  -->
    <div id="loading" class="hidden fixed w-full h-full bg-[#303030a8] left-0 top-0 flex justify-center items-center">
      <div class="inline-block h-12 w-12 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
          role="status">
          <span
              class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
      </div>

  </div>
          <!-- end of header -->
          <!-- border after header -->
          <!--  main -->
          <% if(data){ %>

            <!-- search table -->
            <!-- table news -->
            <div class="md:w-full w-[95%] m-auto">
              <input onkeyup="FilterFunction()" id="search" type="input" placeholder="Search content...."
                class="w-full text-black border-solid border-[#DBDFEA] border-2 p-2 mb-3 rounded-md" />
              <table id="table"
                class="block overflow-x-auto text-left border-2 border-solid border-[#DBDFEA] rounded-md w-full text-[15px] border-separate border-spacing-0">
                <thead class="bg-[#DBDFEA] text-[#4C4C4C]">
                  <tr class="font-normal">
                    <th class="w-[5%] p-3">N</th>
                    <th class="w-[30%] p-3" data-key="Name">Name</th>
                    <th class="w-[20%]" data-key="Category">Category</th>
                    <th class="w-[10%]" data-key="Price">Price</th>
                    <th class="w-[10%]" data-key="Active">Active</th>
                    <th class="w-[15%]" data-key="Popular">Popular</th>
                    <th class="w-[5%]" data-key="Discount">Discount</th>
                    <th class="min-w-[3rem]  md:w-[2.5%]"></th>
                    <th class="min-w-[3rem]  md:w-[2.5%]"></th>
                  </tr>
                </thead>
                <tbody>
                  <% if(data.products.length>0){ %>
                    <% data.products.forEach((item,index)=>{ %>
                      <tr class="border-2 border-[#DBDFEA] border-solid " itemId="<%=item.id%>" id="<%=index+1%>">
                        <td class="p-3 border-t-2">
                          <%=index+1%>
                        </td>
                        <td class="p-3 border-t-2">
                          <%=item.title%>
                        </td>
                        <td class="p-3 border-t-2">
                          <%=item.category%>
                        </td>
                        <td class="p-3 border-t-2" >
                          <%if(item.discount){%><span style="text-decoration:line-through">
                              <%=item.price%>
                            </span><br />
                            <%}%>
                              <%=item.currentPrice%>
                        </td>
                        <td class="border-t-2 cursor-pointer" id="bool"
                          onclick="openModal(`<%=activeProductUrl%>`, `<%=item.id%>`,'Active Product',1,this )">
                          <% if(item.active){ %>
                            Yes
                            <%}else{%>
                              No
                              <%}%>
                        </td>
                        <td class="py-3 border-t-2">
                          <div>
                            <select name="popular" onchange="putStatusFood('<%=item.id%>',this)" id="status"
                              class="bg-gray-50 border  border-[#DBDFEA]  text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-9/12 py-2.5 ">
                              <option data-key="False" value="false" <% if(item.popular && item.popular===false){ %>
                                selected <%}%> >False</option>
                              <option value="true" data-key="True" <% if(item.popular && item.popular===true){ %>
                                selected <%}%> >True
                              </option>
                            </select>
                          </div>
                        </td>
                        <td class="py-3 border-t-2">
                          <%if(item.discount){%>
                            <%=item.discount%>%<%}else{%>-<%}%>
                        </td>
                        <td class="border-t-2"><a href="/admin/add-food/<%=item.id%>">
                            <img class="w-auto h-[20px] active:bg-white" src="/assets/images/edit.png" alt="" /> </a>
                        </td>
                        <td class="border-t-2 text-[red] cursor-pointer"
                          onclick="openModal(`<%=deleteProductUrl%>`,`<%=item.id%>`,'Delete Product',2,this)">

                          <img class="w-auto h-[20px] active:bg-white" src="/assets/images/delete.png" alt="" />
                        </td>
                      </tr>

                      <% }) %>
                        <%}%>
                </tbody>
              </table>
            </div>
            <%-include('../components/pagination.html',{page,size,totalPages})%>
      </div>
      <%}%>
  </div>
  <!-- pagination section starts -->
  <!-- pagination section ends -->
  <div class="mt-10"></div>
  <!-- modal -->
  <div id="modal" class="hidden fixed w-full h-full bg-[#303030a8] left-0 top-0 flex justify-center items-center">
    <div id="modalBox"
      class="translate-y-[-400px] transition-all duration-700 bg-white rounded-xl text-black w-1/6 w-[15rem]">
      <div class="flex items-center justify-between border-b-2 p-3">
        <p class="text-[20px]" id="modalTitle" data-key="Delete Food">Delete Food</p>
        <div class="cursor-pointer" id="close">X</div>
      </div>
      <div class="border-b-2 p-3" data-key="Are you sure?">Are you sure?</div>
      <div class="p-3 flex justify-end gap-2">
        <button
          class="border-2 border-[#dc3545] rounded-lg text-[#dc3545] px-3 py-1 m-0 hover:text-white hover:bg-[#dc3545] transition-colors"
          data-key="No" id="close">
          No
        </button>
        <button data-key="Yes"
          class="border-2 border-[#445FD3] rounded-lg text-[#445FD3] px-3 py-1 hover:text-white hover:bg-[#445FD3] ttransition-colors"
          id="allow">
          Yes
        </button>
      </div>
    </div>
  </div>
  </div>
  </div>
  
   <!-- loading  -->
   <div
   id="loading"
   class="hidden fixed w-full h-full bg-[#303030a8] left-0 top-0 flex justify-center items-center"
 >
     <div
       class="inline-block h-12 w-12 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
       role="status">
       <span
         class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
         >Loading...</span
       >
     </div>

   </div>
   <!-- loading  -->
        <div
        id="loading"
        class="hidden fixed w-full h-full bg-[#303030a8] left-0 top-0 flex justify-center items-center"
      >
          <div
            class="inline-block h-12 w-12 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
            role="status">
            <span
              class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
              >Loading...</span
            >
          </div>
  
        </div>
  </body>

  <script src="/assets/js/modal.js"></script>
  <script src="/assets/js/table.js"></script>
  <script src="/assets/js/fetch.js"></script>
  <script src="/assets/js/drag.js" ></script>
  <script>
    slist(document.querySelector('tbody'),'product');
  </script>
  <%-include('../components/end_body.html')%>
