<style>
    .back_button {
        margin-left: 1rem;
        padding: 5px 20px;
        background-color: blue;
        color: white;
        border-radius: 5px;
        width: max-content;
        border: none;
    }

    .back_button:hover {
        background-color: #0000b4;
    }

    .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .box h1 {
        text-align: center;
    }
</style>
<%- include('../components/body.html')%>
    <div class="flex">
        <!-- sidebar -->

        <%- include('../components/sidebar.html') %>
            <!-- end of sidebar -->
            <!-- header -->
            <!-- top border of header  -->
            <div class="border-solid border-b-2 z-[-1] absolute w-full top-[80px]"></div>
            <!-- end of top border -->

            <div class="lg:ml-[25rem] w-full lg:mx-20 mx-0 flex flex-col gap-5">
                <%- include('../components/header.html')%>

                    <!-- end of header -->
                    <!-- border after header -->
                    <!--  main -->
                    <% if(data){ %>
                        <div class="w-[95%] m-auto md:w-full">
                            <div class="flex flex-row justify-between items-center">
                                <div class="flex flex-col justify-start">
                                    <div class="box">
                                        <a data-key="<- Back" href="/admin/orders" class="back_button">
                                            <- Back </a>
                                                <h1 class="text-[30px] pl-4" data-key="Order">Order</h1>

                                    </div>
                                    <hr>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="px-4 py-2 uppercase" data-key="FullName">FullName</td>
                                                <td>
                                                    <%=data.fullName%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="px-4 py-2 uppercase" data-key="PhoneNumber">Phone-Number</td>
                                                <td>
                                                    <%=data.phoneNumber%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="px-4 py-2 uppercase" data-key="Address">Address</td>
                                                <td>
                                                    <%=data.address%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="px-4 py-2 uppercase" data-key="Total Price">Total Price</td>
                                                <td>
                                                    <%=data.totalPrice%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="px-4 py-2 uppercase" data-key="Date">Date</td>
                                                <td id="getTimeToDate">
                                                    <%=data.createdAt%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="px-4 py-2 uppercase" data-key="Status">Status</td>
                                                <td>
                                                    <div>
                                                        <select name="status"
                                                            onchange="putStatusOrder('<%=data.id%>',this)" id="status"
                                                            class="bg-gray-50 border  border-[#DBDFEA]  text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-9/12 py-2.5 ">
                                                            <%staticStatusOrder.map(status=>{%>
                                                                <option value="<%=status%>" <% if(status===data.status){
                                                                    %> selected <%}%>
                                                                        ><%=status%>
                                                                </option>

                                                                <%})%>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <!-- search table -->
                        <!-- table news -->
                        <div class="md:w-full w-[95%] m-auto">
                            <table id="table"
                                class="block overflow-x-auto text-left border-2 border-solid border-[#DBDFEA] rounded-md w-full text-[18px] border-separate border-spacing-0">
                                <thead class="bg-[#DBDFEA] text-[#4C4C4C]">
                                    <tr class="font-normal">
                                        <th class="w-[20%] p-3" data-key="Image">Image</th>
                                        <th class="w-[25%]" data-key="Name">Name</th>
                                        <th class="w-[10%]" data-key="Count">Count</th>
                                        <th class="w-[5%]" data-key="Price">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(data.orderItems.length>0){ %>
                                        <% data.orderItems.forEach(item=>{ %>
                                            <tr class="border-2 border-[#DBDFEA] border-solid">
                                                <td class="p-3 border-t-2">
                                                    <img src="<%=item.product.image%>" alt="">
                                                </td>
                                                <td class="p-3 border-t-2">
                                                    <%=item.product.title%>
                                                </td>
                                                <td class="p-3 border-t-2">
                                                    <%=item.count%>
                                                </td>
                                                <td class="p-3 border-t-2">
                                                    <%=item.product.price%>
                                                </td>

                                            </tr>

                                            <% }) %>
                                                <%}%>

                                                    <tr class="border-2 border-[#DBDFEA] border-solid">

                                                        <td class="p-3 border-t-2">
                                                        </td>
                                                        <td class="p-3 border-t-2" data-key="Delivery Charge">
                                                            Delivery Charge
                                                        </td>
                                                        <td class="p-3 border-t-2">
                                                        </td>
                                                        <td class="p-3 border-t-2">
                                                            +<%=deliveryCharge%>
                                                        </td>
                                                    </tr>
                                </tbody>
                            </table>
                        </div>
            </div>
            <%}%>
    </div>

    <div class="mt-10"></div>
    <!-- modal -->

    </div>
    </div>

    <!-- loading  -->
    <div id="loading" class="hidden fixed w-full h-full bg-[#303030a8] left-0 top-0 flex justify-center items-center">
        <div class="inline-block h-12 w-12 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
            role="status">
            <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
        </div>
    </div>
    </body>

    <script src="/assets/js/modal.js"></script>
    <script src="/assets/js/table.js"></script>
    <script src="/assets/js/fetch.js"></script>
    <script>

        function format(date) {
            var today = new Date(date)
            var day = today.getDate() + "";
            var month = (today.getMonth() + 1) + "";
            var year = today.getFullYear() + "";
            var hour = today.getHours() + "";
            var minutes = today.getMinutes() + "";
            var seconds = today.getSeconds() + "";

            day = checkZero(day);
            month = checkZero(month);
            year = checkZero(year);
            hour = checkZero(hour);
            minutes = checkZero(minutes);
            seconds = checkZero(seconds);
            return day + "." + month + "." + year + " " + hour + ":" + minutes + ":" + seconds

            function checkZero(data) {
                if (data.length == 1) {
                    data = "0" + data;
                }
                return data;
            }
        }
        const times = document.querySelectorAll('#getTimeToDate')
        for (let i = 0; i < times.length; i++) {
            times[i].textContent = format(times[i].textContent.trim())
        }
    </script>
    <%-include('.. /components/end_body.html')%>