<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hazyna Döner</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>

  <body>
    <div class="container">
      <div class="container__logo_image">
        <img src="/assets/images/logo_hd.png" alt="" />
      </div>
      <div class="container__text">
        <p>
          Сканировать на обеих платформах
        </p>
      </div>
      <div class="container__socail">
        <a
          href="https://apps.apple.com/us/app/hazyna-doner-restoran/id6471584346"
        >
          <div class="container__items">
            <img
              src="/assets/images/apple64.gif"
              alt=""
              style="width: 28px; margin-left: -3px"
            />
            <p>App Store</p>
          </div>
        </a>
        <a
          href="https://play.google.com/store/apps/details?id=com.pikirbiz.hazynadoner&hl=ru&gl=US"
        >
          <div class="container__items">
            <img src="/assets/images/google64.png" alt="" />
            <p>Google Play</p>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
